/*NavBar CSS*/
.navbar{
  display: flex;
  align-items: center;
  background-color: rgb(255, 254, 253);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navSearch {
  flex: 1;
}

.navSearch > form {
  display: flex;
}

.navSearch input[type="text"] {
  flex: 1;
}

.navbar > div {
  margin-top: 10px;
}

li{
  list-style-type: none;
}

.home-img {
  max-width: 100%;
}

a{
  color: black
}

.hamburger{
  display: none;
  margin-left: 10px;
}

.hamburger-sm {
  display: block;
}

.navbar-brand {
  width: 60%;
  margin: 0 auto;
}

.navbar-brand > img{
  width: 100%;
}  

.nav-links {
  display: none;
  margin: 0 auto;
}

.nav-links > button {
  margin: 2px;
}

/* Categories CSS*/
.categoriesDiv{
  display: inline-block;
  margin-top: 10px;
}

/*Main Body CSS*/
.mainContent{
  max-width: auto;
  max-height: auto;
}

/*Login and Register CSS*/
.loginregisterpage{
  margin: 0 auto;
  display: block;
}
.loginRegister{
  margin: 0 auto;
  display: block;
}

.bigLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

/* SearchedItems CSS */
.listingCard{
  display: flex;
}
/* 
ListingCard CSS
*/
.listingImg{
  width: 300px;
  height: 170px;
  flex-direction: column;
}

/*
Categories CSS
*/
.categoriesBtn{
  width: 100%; 
  margin-bottom: 3px;
  flex-direction: column;
  display: flex;
}
.categories{
  top: 10px;
  display: flex;
}

/* Cart CSS*/
.card{
  display: flex;
  margin: 5px;
}
.cardImg{
  width: 300px;
  height: 170px;
  flex-direction: column;
}
.cartBody{
  display: block;
  position: center;
}
.cartPay{
  margin-left:450px;
  margin-right:200px;
  margin-bottom: 200px;
}

.buyerH1{
  margin-left: 350px;
}
.sellerH1{
  margin-left: 400px;
}

/*Carousel CSS*/
.Carousel{
  margin-left: 110px;
}

/*CreateListing CSS*/
.sellerInput{
  border: 1px solid black
}
.inputs{
  width:100%
}

/* 
Media queries used for screen size specific styling
we will use the bootstrap breakpoints
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
*/

@media(min-width: 576px) {
  .navbar-brand {
    width: auto;
    margin-right: 1rem;
  }
  .hamburger {
    display: block;
  }
  .hamburger-sm {
    display: none;
  }
}

@media(min-width: 768px) {
  .navbar > div {
    padding: 10px;
  }  
  .ml-auto {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: block;
  }
}