.navbar{
  display: flex;
  align-items: center;
}

.navSearch {
  flex: 1;
}

.navSearch > form {
  display: flex;
}

.navSearch input[type="text"] {
  flex: 1;
}

.navbar > div {
  padding: 10px;
}

ul{
  list-style-type: none
}

img{
  max-width: 100%;
  height: auto;
}