.navbar{
  display: flex;
  align-items: center;
}

.navSearch {
  flex: 1;
  margin-right: 35px;
}

.navSearch > form {
  display: flex;
}

.navSearch input[type="text"] {
  flex: 1;
}

.navbar > div {
  padding: 10px;
}

li{
  list-style-type: none;
}

.loginRegister{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.img{
  margin-right: 35px;
}

.card{
  width: auto;
}

.cardbody{
  position: center;
  border: 1px solid black;
}

a{
  color: black
}

.hotdeal{
  text-align: center
}
